.cloud-ui-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 6px;
}
.ui-bar-section-wrapper {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.ui-bar-middle {
    width: 100%;
}